<%= select_f f, :flavor_id, compute_resource.flavors, :id, :to_label, {}, :label => _('Flavor'), :label_size => "col-md-2" %>
<%
arch ||= nil ; os ||= nil ; tags = {}
images = possible_images(compute_resource, arch, os)
%>

<div id='image_selection'><%= select_f f, :image_id, images, :uuid, :name,{:include_blank => (images.empty? || images.size == 1) ? false : _('Please select an image')}, {:disabled => images.empty?, :label => _('Image'), :label_size => "col-md-2"} %></div>

<%= selectable_f f, :availability_zone, compute_resource.zones, {:include_blank => _("No preference")}, :label => _('Availability zone'), :label_size => "col-md-2" %>

<div id='subnet_selection'>
  <% if compute_resource.subnets.any? %>
    <%= select_f f, :subnet_id, compute_resource.subnets, :subnet_id, :cidr_block,
    {:include_blank => _("EC2")},
    {:label => _("Subnet"), :label_size => "col-md-2", :onchange => "tfm.computeResource.ec2.vpcSelected(this);"} %>
  <% end %>

  <% groups, vpc_sg_hash, subnet_vpc_hash = security_groups_selectable(compute_resource, f) %>

  <% if groups %>
    <%= selectable_f f, :security_group_ids, groups, {},
    { :multiple => true, :label => _("Security groups"), :label_size => "col-md-2", :disabled => !(@host.nil? || @host.ip.empty?),
      :data => {
        :security_groups => vpc_sg_hash,
        :subnets => subnet_vpc_hash
      },
      :class => 'security_group_ids without_select2'
    }
  %>
<% end %>

  <%= selectable_f f, :managed_ip, {_("Public")=>'public', _("Private")=>'private'}, {}, { :label => _("Managed IP"), :label_size => "col-md-2" } %>
</div>

<div class="col-md-6">
  <table id="ec2_tags" class="<%= table_css_classes %>">
    <thead>
      <th><%= _('Name') %></th>
      <th><%= _('Value') %></th>
      <th><%= _('Actions') %></th>
    </thead>
    <tbody>
      <%= f.fields_for :tags, OpenStruct.new(name: key, value: val) do |fields| %>
        <%= render "compute_resources_vms/form/ec2/ec2_tag", f: fields, editable: f.object.new_record? %>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_fields('+ ' + _("Add tag"), f, :tags, "compute_resources_vms/form/ec2/ec2_tag", { :target => '#ec2_tags tbody', object: [OpenStruct.new(name: nil, value: nil)], locals: { editable: f.object.new_record? } }) %>
</div>
<br /><br />
